<h2>Status</h2>
{{#check-empty
  count=enrollments.length
  noResultsMessage="No enrollments"
}}
  <StatusByContract
    @statuses={{statuses}}
    @contract={{contract}}
    @enrollments={{enrollments}}
    @getNotes={{route-action "getNotes"}}
  />
{{/check-empty}}