<t-contract-attendance-new class="flex flex-col content-start">
  <h3>Pick an attendance day</h3>
  <TPikaday @value={{this.today}} @disableDay={{action "disableCurrentMeetings"}} @onchange={{action "onChangeDate"}} />
  <footer>
    <button
      class="button"
      onclick={{action "createMeeting" this.selectedDate}}
      type="submit"
    >
      Take attendance
    </button>
  </footer>
</t-contract-attendance-new>
