<CheckEmpty
  @count={{this.viewModels.length}}
  @noResultsMessage="There are no finalized credits."
>
  <Pagination
    @totalCount={{this.viewModels.length}}
    @singularName="credit"
  />
  <Table data-test-settings-credits-list>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Term</th>
        <th class="text-right">Credits</th>
        <th class="text-right">Completed</th>
        <th class="text-right">Approved</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.viewModels as |viewModel|}}
        <CreditsFinalized::Item
          @creditAssignment={{viewModel}}
        />
      {{/each}}
    </tbody>
  </Table>
</CheckEmpty>