{{#check-empty
  count=viewModels.length
  noResultsMessage="There are no finalized credits."
}}
  <CountParagraph @count={{viewModels.length}} @name="credit" />
  <Table data-test-settings-credits-list>
    <thead>
      <tr>
        <th></th>
        <th>Credit</th>
        <th>Term</th>
        <th class="text-right">Credits</th>
        <th class="text-right">Completed</th>
        <th class="text-right">Approved</th>
      </tr>
    </thead>
    <tbody>
      {{#each viewModels as |viewModel|}}
        <CreditsFinalized::Item @creditAssignment={{viewModel.creditAssignment}} />
      {{/each}}
    </tbody>
  </Table>
{{/check-empty}}