{{#check-empty count=assignments.length noResultsMessage="No assignments defined for this contract."}}
  <Table>
    <thead>
      <tr>
        <th>Assignment</th>
        <th>Due</th>
        <th>Status</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedAssignments as |assignment|}}
        <StatusByEnrollmentAssignments::Row @enrollment={{enrollment}} @assignment={{assignment}} @notesHash={{notesHash}} @turninsByAssignment={{turninsByAssignment}} />
      {{/each}}
    </tbody>
  </Table>
{{/check-empty}}

