<nav class="toolbar flex items-center mb-4">
  <ul class="flex list-reset">
    <TinyToolbar::Item @currentRoute={{currentRoute}} @route="student-transcript" @label="Transcript" />
    <TinyToolbar::Item @currentRoute={{currentRoute}} @route="student-learning-plan" @label="Learning plan" />
    <TinyToolbar::Item @currentRoute={{currentRoute}} @route="student-credits" @label="Credits" />
    <TinyToolbar::Item @currentRoute={{currentRoute}} @route="student-graduation-plan" @label="Graduation plan" />
  </ul>
</nav>
