<Table data-test-students-list>
  <thead>
    <tr>
      <th>Student</th>
      <th>Coordinator</th>
      <th class="text-center">Grade</th>
      <th>Active</th>
      <th>Links</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.students as |student|}}
      <StudentsList::Row @student={{student}} />
    {{/each}}
  </tbody>
</Table>