<footer class="submit-row">
  <div class="submit-row-inner">
    <button
      type="submit"
      class="button-primary"
      disabled={{this.disabled}}
    >
      {{this.submitCaption}}
    </button>
    {{yield}}
  </div>
</footer>
