<h2>Settings</h2>

<ul class="reset-list">
  {{#each settingsRoutes as |settingRoute|}}
    <li>
      <LinkTo @route={{settingRoute.route}}>
        {{settingRoute.title}}
      </LinkTo>
    </li>
  {{/each}}
</ul>
