<div>
  <a href="#" class="mt-2 block text-gray-500">
    {{full-name this.creator "first-last"}} on <DateTime @date={{@note.attributes.updatedAt}} @format="D MMM YYYY" />
  </a>
  {{{this.formattedNote}}}
</div>
