<div data-test-notes-list-item>
  <button type="button" class="mt-2 block text-gray-500" onclick={{action @editNote this.note}}>
    {{full-name this.creator "first-last"}}
    on 
    <DateTime @date={{@note.attributes.updatedAt}} @format="D MMM YYYY" />
  </button>
  {{{this.formattedNote}}}
</div>
