<div class="relative rounded-lg border border-gray-300 bg-white px-6 py-1 shadow-sm flex items-start">
  <div class="flex-1 min-w-0">
    <p class="m-0 text-sm font-medium text-gray-900">
      {{@heading}}
    </p>
    <p class="m-0 text-sm text-gray-500 truncate">
      {{yield}}
    </p>
  </div>
</div>
