<li>
  <span class="summary-title">
    {{@assignment.attributes.name}}
  </span>
  <span class="summary-date">
    <DateTime @date={{@assignment.attributes.dueDate}} @format="ddd MMM D YYYY" />
  </span>
</li>