TBox {
  @apply px-8 py-4 bg-gray-100 shadow-inner w-full rounded-sm;
}

.t-form {
  .submit-row {
    hrule {
      @apply block border-t-2 border-gray-300 mt-10 mb-2;
    }
  
    .submit-row-inner {
      @apply flex;
    }
  }

  label span.label-text {
    @apply font-semibold;
  }
}

.ember-modal-dialog .t-form {
  @apply p-4;
  width: 40rem;
}

t-help {
  @apply block font-normal;
}

.error-message {
  @apply text-red-500 text-sm font-normal;
}

.inputs-horizontal {
  @apply flex flex-wrap mt-4;

  label {
    @apply mr-6 my-0 flex items-center font-normal;
  }

  input[type="checkbox"], input[type="radio"] {
    @apply mr-2;
  }
}

input[type="text"], input[type="email"], input[type="number"], select, textarea, .field {
  @apply block border-2 border-gray-200 bg-white w-full p-2 mt-2 rounded-sm;

  &:focus {
    @apply border-gray-900;
  }

  &.disabled, &[disabled] {
    @apply bg-gray-200;
  }
}

div.field {
  span::after {
    content: ' ',
  }
}

input[type="checkbox"] {
  display: block;
}

select {
  height: 2.5rem;
}

label {
  @apply block;
}

value-button {
  padding: .5rem;
  cursor: pointer;
}

button[disabled] {
  @apply text-gray-500 cursor-auto;
  * {
    color: inherit;
  }
}

.button {
  @apply ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50;
  @apply hover:no-underline;

  &.button-primary {
    @apply border-transparent  bg-blue-800 hover:bg-blue-700 text-white font-semibold;
    @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500;
  }

  &[disabled], &.disabled {
    @apply bg-gray-200 hover:bg-gray-200;
  }
}
