table.tiny {

  thead {
    @apply bg-gray-50;
  }

  th {
    @apply px-6 py-3 text-left text-sm font-medium text-gray-500 tracking-wider;
  }

  td {
    @apply px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900;
  }

  tbody {
    @apply bg-white divide-y divide-gray-200;
  }
}


.actions-list {
  display: inline-block;
}

.actions-list-item {
  display: inline-block;
  margin: 0 1rem 0 0;
}
