<StickyElement>
  <h3>Unassigned credits</h3>
  <ul>
    {{#each this.unassignedCredits as |creditAssignment|}}
      <GraduationPlan::CreditsItem @creditAssignment={{creditAssignment}} @onDrag={{this.onDrag}} />
    {{/each}}
  </ul>
</StickyElement>