<li
  data-test-credit-assignment-id={{this.creditAssignment.id}}
  ondragstart={{action "onDragStart"}}
  draggable="true"
>
  {{this.courseName}}
  /
  {{this.creditAssignment.attributes.creditHours}}
</li>