<h2>Terms</h2>

<AdminTermsListFilter @schoolYears={{this.schoolYears}} @queryParams={{this.queryParams}} @onchange={{action "changeSelection"}} />

<p>
  <LinkTo @route="admin-term.new" class="button">
    Add a term
  </LinkTo>
</p>

{{outlet}}