<h2>Assignments</h2>

{{#check-empty
  count=model.meta.count
  noResultsMessage="No assignments as of yet"
}}
  <Pagination
    @totalCount={{this.model.meta.count}}
    @singularName="assignment"
  />
  <ContractAssignmentsList @assignments={{assignments}} @enrollments={{enrollments}} @getNotes={{route-action "getNotes"}} />
{{/check-empty}}