<h2>An error occurred</h2>

<dl class="my-4">
  <dt class="mt-2 font-bold">
    url:
  </dt>
  <dd>
    {{this.model.url}}
  </dd>
  <dt class="mt-2 font-bold">
    message:
  </dt>
  <dd>
    {{this.model.message}}
  </dd>
  <dt class="mt-2 font-bold">
    status:
  </dt>
  <dd>
    {{this.model.status}}
  </dd>
  <dt class="mt-2 font-bold">
    responseText:
  </dt>
  <dd>
    {{this.model.responseText}}
  </dd>
</dl>
