<h2>Credits</h2>

<ReturnToSettingsLink />

<CreditsFilter @queryParams={{this.qp}} @updateSearch={{action "updateSearch"}} />

<p>
  <LinkTo @route="settings-credit.new" class="button">
    Add a credit
  </LinkTo>
</p>

{{outlet}}