<div class="flex justify-between">
  <h2>Coordinated students of {{full-name coordinator "first-last"}}</h2>
  <div id="status-page-navigator"></div>  
</div>

<p>
  Return to
  {{#link-to "status-all-coordinators"}}
    COOR list
  {{/link-to}}
</p>
{{outlet}}