<div class="flex justify-between">
  <h2>{{full-name coordinator "first-last"}} COOR</h2>
  <div id="status-page-navigator"></div>  
</div>

<p>
  Return to
  <LinkTo @route="status-all-coordinators">
    COOR list
  </LinkTo>
</p>
{{outlet}}